/* Paleta de colores a utilizar: 
    #06771F - Verde oscuro
    #FFEC00 - Amarillo fuerte
    #F8A600 - Naranja opaco
    #F07C00 - Naranja vivo
    #9999C3 - Lila
    #FEC64A - Amarillo opaco logo
    #00A859 - Verde logo

 */

/*Reseteo de css*/
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

ul li {
  list-style: none;
}

.bg-light {
  background-color: white !important;
}

/* Topbar  */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222425;
  color: white;
  padding: 5px 10px;
  font-size: 0.9em;
}

.top-bar .left-content {
  display: flex;
  align-items: center;
}

.top-bar .right-content {
  display: flex;
  align-items: center;
}

.top-bar .horario {
  margin-right: 15px;
}

.top-bar a {
  color: white;
  margin-left: 10px;
  margin-right: 15px;
  text-decoration: none;
}

.top-bar .icon, .top-bar .itel {
  margin-left: 15px;
}
/* Necesito que a partir de los 675 px el contenido quede centrado de forma responsive */
@media (max-width: 675px) {
  .top-bar {
    flex-direction: column;
    align-items: center;
  }
  
  .top-bar .left-content,
  .top-bar .right-content {
    width: 100%;
  }
  
  .top-bar .right-content {
    flex-direction: column;
  }
  
  .top-bar .icon {
    display: none;
  }
  /* 
  
  .top-bar span {
    display: block;
    margin: 2px 0;
  } */
}

@media (max-width: 1024px) {
  .top-bar {
    justify-content: center;
  }
  
  .top-bar .horario {
    display: none;
  }
  
  .top-bar .right-content {
    justify-content: center;
  }
}

/* Navbar */

.navbar {
  padding: 0;
  height: 50px;
  border-bottom: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
}
.navbar-brand img {
  height: 100%;
  max-height: 50px;
  border-bottom: 1px solid #ccc;
}
.container-fluid {
  margin-top: 1px; /* Para que no se superponga con el top-bar */
  padding: 0;
}
